  <!DOCTYPE html>
  <html>

  <head>
   <title>HappyKidz - Admin Page</title>
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
   crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
   crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
   crossorigin="anonymous"></script>
   <!-- Latest compiled and minified CSS -->

   <script src="https://use.fontawesome.com/899071ec86.js"></script>

   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
   <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
   crossorigin="anonymous">

   <!-- Optional theme -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
   crossorigin="anonymous">
   <link rel="stylesheet" type="text/css" href="/stylesheets/navbar.css">


   <!-- Latest compiled and minified JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
   crossorigin="anonymous"></script>
   <link rel="stylesheet" href="/stylesheets/styles_admin.css">
   <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-1.12.4.js">
   </script>
   <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js">
   </script>
   <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js">
   </script>
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
   <script type="text/javascript" class="init">

    $(document).ready(function() {
      $('#example').DataTable({order: [],columnDefs: [{ targets: 'no-sort', orderable: false }]});
    } );

    $(document).ready(function() {
      $('#example2').DataTable({order: [],columnDefs: [{ targets: 'no-sort', orderable: false }]});
    } );

    $(document).ready(function() {
      $('#example3').DataTable({order: [],columnDefs: [{ targets: 'no-sort', orderable: false }]});
    } );


  </script>
</head>

<%- include partials/navbar.ejs %>


<div class="container well">
  <div class="row">



    <div class="tab" role="tabpanel">
      <!-- Nav tabs -->


      <ul class="nav nav-tabs " role="tablist">
        <li role="presentation" class="active" id="personal-tab" ><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab"><span><i class="fa fa-user"></i></span>Λογαριασμοί Χρηστών</a></li>
        <li role="presentation" id="business-tab"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab"><span><i class="fa fa-briefcase"></i></span>Λογαριασμοί Επιχειρήσεων</a></li>
        <li role="presentation"  id="event-tab" ><a href="#Section3" aria-controls="home" role="tab" data-toggle="tab"><span><i class="fa fa-bell"></i></span>Αιτήματα Εκδηλώσεων</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content tabs">
        <div role="tabpanel" class="tab-pane fade in active" id="Section1">




          <div class="col-lg-12 my-form-personal">




            <div class="row">


              <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>Όνομα Χρήστη</th>
                    <th>Email Χρήστη</th>
                    <th class="no-sort">Απενεργοποίηση Λογαριασμού</th>
                    <th class="no-sort">Reset Κωδικού</th>

                      <!-- <th>Age</th>
                      <th>Start date</th>
                      <th>Salary</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <% parent.forEach(function(it) { %>
                    <tr>
                      <td><%= it.name %></td>
                      <td><%= it.email %></td>
                      <td>
                        <form role="form" action="/parent/<%=it.parentId%>?_method=DELETE" method="POST">
                          <input type="submit" class="btn btn-primary" name="delete" value="delete">
                        </form>
                      </td>
                      <td>
                        <form role="form" action="/admin/parent/<%=it.parentId%>/reset?_method=PUT" method="POST">
                          <input type="submit" class="btn btn-primary " name="reset" value="reset">
                        </form>
                      </td>

                      <!-- <td>61</td>
                      <td>2011/04/25</td>
                      <td>$320,800</td> -->
                    </tr>
                    <%});%>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="Section2">




            <div class="col-lg-12 my-form-business">




              <div class="row">
                <table id="example2" class="table table-striped table-bordered" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th>Όνομα Επιχείρησης</th>
                      <th>Κατάσταση Έγκρισης</th>
                      <th class="no-sort">Έγγραφο ΔΕΚΟ</th>
                      <th class="no-sort">Απενεργοποίηση Λογαριασμού</th>
                      <th class="no-sort">Reset Κωδικού</th>

                      <!-- <th>Age</th>
                      <th>Start date</th>
                      <th>Salary</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <% provider.forEach(function(it) { %>
                    <tr>
                      <td><a href="/admin/provider/<%=it.organizerId%>"><%= it.name %></a></td>
                      <td><%= it.isVerified%></td>
                      <td><a href="/provider/<%=it.organizerId%>/deko"> Έγγραφο ΔΕΚΟ%></td>
                        <td>
                          <form role="form" action="/provider/<%=it.organizerId%>?_method=DELETE" method="POST">
                            <input type="submit" class="btn btn-primary" name="delete" value="delete">
                          </form>
                        </td>
                        <td>
                          <form role="form" action="/admin/provider/<%=it.organizerId%>/reset?_method=PUT" method="POST">
                            <input type="submit" class="btn btn-primary " name="reset" value="reset">
                          </form>
                        </td>

                      <!-- <td>61</td>
                      <td>2011/04/25</td>
                      <td>$320,800</td> -->
                    </tr>
                    <%});%>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="Section3">




            <div class="col-lg-12 my-form-events">




              <div class="row">
                <table id="example3" class="table table-striped table-bordered" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th >Τίτλος Εκδήλωσης</th>
                      <th class="no-sort">Σελίδα Επιχείρησης</th>
                      <th>Ημερομηνία</th>

                      <!-- <th>Age</th>
                      <th>Start date</th>
                      <th>Salary</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <% event.forEach(function(it) { %>
                    <tr>
                      <td><a href="/admin/events/<%=it.eventId%>"><%= it.title %></a></td>
                      <td><a href="/admin/provider/<%=it.organizerId%>">Πατήστε Εδώ</a></td>
                      <td><% startTime = new Date(it.startTime*1000)%>
                        <%= startTime.getDate().toString() + "/" + (startTime.getMonth()+1).toString() %></td>
                      </tr>
                      <%});%>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

      </body>


      <script>

        $( window ).resize(function() {
          if($(window).width() < 992){
            $("#personal-tab").addClass("asd")
            $("#business-tab").addClass("asd")
            $("#events-tab").addClass("asd")


        // $("#my-navbar").addClass("sticky")
      }
      else{
        $("#personal-tab").removeClass("asd")
        $("#business-tab").removeClass("asd")
        $("#events-tab").removeClass("asd")

        // $("#my-navbar").removeClass("sticky")
// 751
}
});
        $( window ).resize(function() {
          if($(window).width() < 992){
            $("#personal-tab").addClass("asd")
            $("#business-tab").addClass("asd")
            $("#event-tab").addClass("asd")
            $("#personal-tab").removeClass("lala")
            $("#business-tab").removeClass("lala")
            $("#event-tab").removeClass("lala")
          }
          else{
            $("#personal-tab").removeClass("asd")
            $("#business-tab").removeClass("asd")
            $("#event-tab").removeClass("asd")
            $("#personal-tab").addClass("lala")
            $("#business-tab").addClass("lala")
            $("#event-tab").addClass("lala")
// 751
}
});
        if($(window).width() < 992){
          $("#personal-tab").addClass("asd")
          $("#business-tab").addClass("asd")
          $("#event-tab").addClass("asd")
        }
        else{
          $("#personal-tab").removeClass("asd")
          $("#business-tab").removeClass("asd")
          $("#event-tab").removeClass("asd")
          $("#personal-tab").addClass("lala")
          $("#business-tab").addClass("lala")
          $("#event-tab").addClass("lala")

        }

  // do your stuff

</script>

</html>