  <!DOCTYPE html>
  <html>
 <title>HappyKidz - Admin Page</title>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
crossorigin="anonymous"></script>
<!-- Latest compiled and minified CSS -->

<script src="https://use.fontawesome.com/899071ec86.js"></script>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
crossorigin="anonymous"></script>
<link rel="stylesheet" href="/stylesheets/styles_admin.css">
<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-1.12.4.js">
  </script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js">
  </script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js">
  </script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
  <script type="text/javascript" class="init">

    $(document).ready(function() {
      $('#example').DataTable();
    } );

    $(document).ready(function() {
      $('#example2').DataTable();
    } );

    $(document).ready(function() {
      $('#example3').DataTable();
    } );


  </script>


<nav class="navbar navbar-custom" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">
      <span>
        <img src="icon2.png" alt="Party" height="25" width="27">
      </span> HappyKidz
    </a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav" id="tabs">
      <li>  <!--  it was active -->
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/search">Events</a>
      </li>
    </ul>
    <div class="col-sm-5 col-md-5">
      <form class="navbar-form" role="search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" name="q">
          <span class="input-group-addon">@</span>
          <input type="text" class="form-control" placeholder="Location" name="l">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="/register">Register</a>
      </li>
      <li>
        <a href="/login">Login</a>
      </li>
    </ul>
  </div>
</div>
<!-- /.navbar-collapse -->
</nav>

<body>

  <div class="container well">
    <div class="row">



      <div class="tab" role="tabpanel">
        <!-- Nav tabs -->


        <ul class="nav nav-tabs " role="tablist">
          <li role="presentation" class="active" id="personal-tab" ><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab"><span><i class="fa fa-user"></i></span>Λογαριασμοί Χρηστών</a></li>
          <li role="presentation" id="business-tab"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab"><span><i class="fa fa-briefcase"></i></span>Λογαριασμοί Επιχειρήσεων</a></li>
          <li role="presentation"  id="event-tab" ><a href="#Section3" aria-controls="home" role="tab" data-toggle="tab"><span><i class="fa fa-bell"></i></span>Αιτήματα Εκδηλώσεων</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content tabs">
          <div role="tabpanel" class="tab-pane fade in active" id="Section1">




            <div class="col-lg-12 my-form-personal">




              <div class="row">


                <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th>Όνομα Χρήστη</th>
                      <th>Email Χρήστη</th>
                      <th>Απενεργοποίηση Λογαριασμού</th>
                      <th>Reset Κωδικού</th>

                      <!-- <th>Age</th>
                      <th>Start date</th>
                      <th>Salary</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <% user.forEach(function(it) { %>
                    <tr>
                      <td><a href="/admin_users/<%=it.parentId%>"><%= it.name %></a></td>
                      <td><a href="/admin_users/<%=it.parentId%>"><%= it.email %></a></td>
                      <td>
                      <form role="form" action="/admin/deleteUserAccount/<%=it.parentId%>" method="POST">
                        <input type="submit" class="btn btn-primary" name="delete" value="<%=it.name%>">
                      </form>
                      </td>
                      <td>
                      <form role="form" action="/admin/resetUserPassword/<%=it.parentId%>" method="POST">
                        <input type="submit" class="btn btn-primary " name="reset" value="<%=it.name%>">
                      </form>
                      </td>

                      <!-- <td>61</td>
                      <td>2011/04/25</td>
                      <td>$320,800</td> -->
                    </tr>
                    <%});%>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="Section2">




            <div class="col-lg-12 my-form-business">




              <div class="row">
                <table id="example2" class="table table-striped table-bordered" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th>Όνομα Επιχείρησης</th>
                      <th>Email Επιχείρησης</th>
                      <th>Κατάσταση Έγκρισης</th>
                      <th>Απενεργοποίηση Λογαριασμού</th>
                      <th>Reset Κωδικού</th>

                      <!-- <th>Age</th>
                      <th>Start date</th>
                      <th>Salary</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <% provider.forEach(function(it) { %>
                    <tr>
                      <td><a href="/admin_providers/<%=it.organizerId%>"><%= it.name %></a></td>
                      <td><a href="/admin_providers/<%=it.organizerId%>"><%= it.email %></a></td>
                      <td><%= it.isVerified%></td>
                      <td>
                      <form role="form" action="/admin/deleteProviderAccount/<%=it.organizerId%>" method="POST">
                        <input type="submit" class="btn btn-primary" name="delete" value="<%=it.name%>">
                      </form>
                      </td>
                      <td>
                      <form role="form" action="/admin/resetProviderPassword/<%=it.organizerId%>" method="POST">
                        <input type="submit" class="btn btn-primary " name="reset" value="<%=it.name%>">
                      </form>
                      </td>

                      <!-- <td>61</td>
                      <td>2011/04/25</td>
                      <td>$320,800</td> -->
                    </tr>
                    <%});%>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="Section3">




            <div class="col-lg-12 my-form-events">




              <div class="row">
                <table id="example3" class="table table-striped table-bordered" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      <th>Τίτλος Εκδήλωσης</th>
                      <th>Ημερομηνία</th>
                      <!-- <th>Age</th>
                      <th>Start date</th>
                      <th>Salary</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <% event.forEach(function(it) { %>
                    <tr>
                      <td><a href="/admin_events/<%=it.eventId%>"><%= it.title %></a></td>
                      <td><%= it.startTime %></td>
                      <!-- <td>61</td>
                      <td>2011/04/25</td>
                      <td>$320,800</td> -->
                    </tr>
                    <%});%>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

    </body>


    <script>

              $( window ).resize(function() {
                if($(window).width() < 992){
                  $("#personal-tab").addClass("asd")
                  $("#business-tab").addClass("asd")
                  $("#events-tab").addClass("asd")


        // $("#my-navbar").addClass("sticky")
      }
      else{
        $("#personal-tab").removeClass("asd")
        $("#business-tab").removeClass("asd")
        $("#events-tab").removeClass("asd")

        // $("#my-navbar").removeClass("sticky")
// 751
}
});
$( window ).resize(function() {
  if($(window).width() < 992){
  $("#personal-tab").addClass("asd")
  $("#business-tab").addClass("asd")
  $("#event-tab").addClass("asd")
  $("#personal-tab").removeClass("lala")
  $("#business-tab").removeClass("lala")
  $("#event-tab").removeClass("lala")
  }
else{
  $("#personal-tab").removeClass("asd")
  $("#business-tab").removeClass("asd")
  $("#event-tab").removeClass("asd")
  $("#personal-tab").addClass("lala")
  $("#business-tab").addClass("lala")
  $("#event-tab").addClass("lala")
// 751
}
});
if($(window).width() < 992){
  $("#personal-tab").addClass("asd")
  $("#business-tab").addClass("asd")
  $("#event-tab").addClass("asd")
}
else{
  $("#personal-tab").removeClass("asd")
  $("#business-tab").removeClass("asd")
  $("#event-tab").removeClass("asd")
  $("#personal-tab").addClass("lala")
  $("#business-tab").addClass("lala")
  $("#event-tab").addClass("lala")

}

  // do your stuff

</script>

    </html>