<!DOCTYPE html>
<html>
<head>
    <title>HappyKidz</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/styles_event.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="http://getbootstrap.com.vn/examples/equal-height-columns/equal-height-columns.css"> -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- <script src="/jquery.matchHeight.js" type="text/javascript"></script> -->
</head>
<!-- <body>
 -->    <%- include ./partials/navbar.ejs %>

    <br>

    <div id="main-container" class="container" style="border:1px solid #29335c; border-radius:10px">
        <!-- <div class="container"> -->
        <h1><%= title %></h1>
        <div class="row">
            <!-- Carousel start -->
            <div id="my-carousel" class="col-xs-12 col-sm-12 col-md-6 col-lg-7 col-xl-7">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="border:1px solid #29335c; border-radius:1px">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                    <% images.forEach(function(image,index) {
                        if(index === 0){ %>
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <% } else { %>
                            <li data-target="#carousel-example-generic" data-slide-to="<%=index%>"></li>
                        <% }
                    }); %>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <% images.forEach(function(image,index) {
                            if(index === 0){ %>
                                <div class="item active">
                                    <img src="<%=image%>" alt="..." style="width:100%; height: 100%;">
                                </div>
                            <% } else { %>
                                <div class="item">
                                    <img src="<%=image%>" alt="..." style="width:100%; height: 100%;">
                                </div>
                            <% }
                        }); %>


                    <!-- </div> -->

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                    </div>
                </div>
            </div>

                    <!-- Carousel End -->
            <div id="info-container" class="container col-xs-12 col-sm-12 col-md-6 col-lg-5 col-xl-5">
                <hr>
                <div class="row row-eq-height">
                    <div class="row row-eq-height col-xs-12 col-sm-6">
                        <div class="col-xs-1">
                            <center>
                                <h4><i class="glyphicon glyphicon-calendar"></i></h4>
                            </center>
                        </div>
                        <div class="col-xs-10">
                            <h4>Ημερομηνία</h4>
                            <p><%= date %></p>
                        </div>
                    </div>
                    <div class="row row-eq-height col-xs-12 col-sm-6">
                        <div class="col-xs-1">
                            <center>
                                <h4><i class="glyphicon glyphicon-time"></i></h4>
                            </center>
                        </div>
                        <div class="col-xs-10">
                            <h4>Ώρα</h4>
                            <p><%= time %></p>
                        </div>
                    </div>
                </div>
                <div class="row row-eq-height">
                    <div class="row row-eq-height col-xs-12 col-sm-6">
                        <div class="col-xs-1">
                            <center>
                                <h4><i class="glyphicon glyphicon-map-marker"></i></h4>
                            </center>
                        </div>
                        <div class="col-xs-10">
                            <h4>Διεύθυνση</h4>
                            <a href="#map"><%= address %></a>
                        </div>
                    </div>
                    <div class="row row-eq-height col-xs-12 col-sm-6">
                        <div class="col-xs-1">
                            <center>
                                <h4><i class="glyphicon glyphicon-briefcase"></i></h4>
                            </center>
                        </div>
                        <div class="col-xs-10">
                            <h4>Πάροχος</h4>
                            <p><a href="/provider/<%= organizerId %>"><%= providerName %></a></p>
                        </div>
                    </div>

                </div>
                <div class="row row-eq-height">

                    <!-- <div class="col-xs-6"> -->
                    <div class="row row-eq-height  col-xs-12 col-sm-6">
                        <div class="col-xs-1">
                            <center>
                                <h4><i class="glyphicon glyphicon-remove"></i></h4>
                            </center>
                        </div>
                        <div class="col-xs-10">
                            <h4>Αρχική Τιμή</h4>
                            <p><%= startingPrice %> €</p>
                        </div>
                    </div>
                    <div class="row row-eq-height col-xs-12 col-sm-6">
                        <div class="col-xs-1">
                            <center>
                                <h4><i class="glyphicon glyphicon-ok"></i></h4>
                            </center>
                        </div>
                        <div class="col-xs-10">
                            <h4>Happy Kidz Τιμή</h4>
                            <p><%= finalPrice %>€</p>
                        </div>
                    </div>
                </div>
                <div class="row row-eq-height">
                    <div class="row row-eq-height col-xs-12 col-sm-6">
                        <div class="col-xs-1">
                            <center>
                                <h4><i class="glyphicon glyphicon-earphone"></i></h4>
                            </center>
                        </div>
                        <div class="col-xs-10">
                            <h4>Τηλέφωνο Επικοινωνίας</h4>
                            <p><%= phone %></p>
                        </div>
                    </div>
                    <div class="row row-eq-height col-xs-12 col-sm-6">
                        <div class="col-xs-1">
                            <center>
                                <h4><i class="glyphicon glyphicon-signal"></i></h4>
                            </center>
                        </div>
                        <div class="col-xs-10">
                            <h4>Ηλικίες</h4>
                            <p><%= agegroups %></p>
                        </div>
                    </div>
                </div>
                <hr>
                <br>
                <div class="row">
                    <div class=" col-xs-12">
                        <form class="form-inline" action="/payment/events/<%= eventId %>" method="POST">
                            <center>
                                <div class="form-group">
                                        <label for="quantity">Αριθμός Εισιτηρίων:</label>
                                        <input type="number" name="quantity" value="1" min="1" max="<%= ticketCount %>" class="form-control" id="quantity">
                                </div>
                                <button style="margin-top:12px;" id="book-now" type="submit" class="btn my-btn btn-lg
                                <% if (!isFuture) { %>
                                disabled
                                <% } %>
                                "
                                <% if (!isFuture) { %>
                                disabled
                                <% } %> >
                                    Book Now
                                </button>
                            </center>
                        </form>
                    </div>
                </div>
            </div>
        </div>
<!-- Αξιολογήσεις Χάρτης Περιγραφή -->
        <br>
        <div class="row" >
            <div  id="description-container" class="col-xs-12">
                <hr>
                <h3>Περιγραφή</h3>
                    <p> <%= description %> </p>
                <hr>
            </div>
        </div>
        <!-- <div class="row">
            <form action="/events/:id/newcomment" method = "POST">
                <div class="form-group">
                    <input type="text" name="content">
                </div>
                <div class="form-group">
                    <button class="btn">submit</button>
                </div>
            </form>
        </div> -->
        <!-- <div class="row">
                <form action="/review" method = "POST">
                    <div class="form-group">
                        <input class="form-control" type="text" name="content[text]">
                    </div>
                    <div class="form-group">
                            <input class="form-control" type="text" name="content[name]">
                    </div>
                    <div class="form-group">
                            <input class="form-control" type="text" name="content[rating]">
                    </div>
                    <div class="form-group">
                        <button class="btn">submit</button>
                    </div>
                </form>
        </div> -->
        <div class="row">
            <div class="col-xs-12">
                <h3>Αξιολογήσεις</h3>
                <% ratings.forEach(function(it){ %>
                <div id="review-sample1" class="col-xs-12">
                    <h4>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <span>
                                    <%= it.name %>
                                    <% for(var i = 1; i <= it.rating; i++){%>
                                        <span class="fa fa-star checked" > </span>
                                    <% } %>
                                    <% for(var i = 1; i <= 5 - it.rating; i++){%>
                                        <span class="fa fa-star unchecked" > </span>
                                    <% } %>
                                </span>
                            </div>
                        </div>
                    </h4>
                    <div class="col-xs-12">
                        <p><%= it.content %></p>
                        <hr>
                    </div>

                </div>
                <% }); %>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" >
                <h3>Χάρτης</h3>
                <div id="map" style="border:1px solid #29335c; border-radius:1px"></div>
                <script>
                function initMap() {
                    var place = {lat: <%= geolat%>, lng: <%= geolon%>};

                    var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 15,
                        center: place
                    });
                    var marker = new google.maps.Marker({
                        position: place,
                        map: map
                    });
                    var infowindow = new google.maps.InfoWindow();
                    marker.addListener('click', function() {
                        infowindow.setContent("<%= address%>");
                        infowindow.open(map, marker);
                    });
                }



                </script>
                <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSz5x7fN6a-k9UJATld1uvuc_Fv1xBDCg&callback=initMap">
                </script>
            </div>
        </div>
        <br>
    </div>
    <br>
</body>

<script>

        $('.carousel').carousel({
            interval: 5000
        })
        $('#my-carousel').css('height',$('#info-container').height());

        $( window ).resize(function() {
            if($(window).width() >= 768){
                $('#my-carousel').css('height',$('#info-container').height());
            }
            else{
                $('#my-carousel').css('height',($('#info-container').height())/2);

            }
        });
        if($(window).width() >= 768){
            $('#my-carousel').css('height',$('#info-container').height());
            }
        else{
            $('#my-carousel').css('height',($('#info-container').height())/2);


        }
        $("#my-location").click(function() {
    $('html').animate({
        scrollTop: $("#map").offset().top
    }, 2000);
});

        $('#my-location').click(function(){
            $('#my-location').scrollTop('#my-map');
        });
      // do your stuff

</script>
</html>