<!DOCTYPE html>
<html>
    
<script src="https://use.fontawesome.com/899071ec86.js"></script>

<title>HappyKidz - Register Page</title>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
 <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
    crossorigin="anonymous"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    
<!-- Latest compiled and minified CSS -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="/stylesheets/style_new_event.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/navbar.css">

<style>
       #map {
        height: 400px;
       }
    </style>


<body>
<%- include partials/navbar.ejs %>
<div class="container"> 
<% if (errMsg) { %>
<div class="alert alert-warning">
    <strong>Warning!</strong> <%= errMsg %>.
</div>
<% } %>       
<div class="panel panel-primary" style="margin: 20px; ">
    <div class="panel-heading">
            <h3 class="panel-title">Δημιουργία Νέου Event</h3>
    </div>
<div class="panel-body" >
    <form action="/event_create" method="POST" enctype="multipart/form-data">
        <div class = "row">
            <div class="col-md-6 col-sm-12"  >
                <div class="form-group col-md-12 col-sm-12">
                    <label for="event-name">Τίτλος Event </label>
                    <input type="text" class="form-control input-sm" id="event-name" name="EventName" value="<%= event.title %>">
                </div>
                <div class =" form-group col-md-12 col-sm-12">
                    <label for ="categoryName">Κατηγορία Event</label>
                    <select class="form-control col-sm-2" name="categoryName" id="categoryName">
                                <% categories.forEach(function(category, idx) { %>
                                    <option <% if (category === event.categoryName) { %> selected='selected' <% } %> value"<%= category %>"><%= category %> </option>

                                <% }); %>
                        </select>
                </div>
                <div class="form-group col-md-12 col-sm-12" >
                    <label for="Description">Περιγραφή Event</label>
                    <textarea  maxlength = "5000" placeholder="το πολύ 5000 χαρακτήρες" cols = "40" rows = "20" class="form-control input-sm" id="Description" name="Description"><%= event.description %></textarea>
                </div>
                <div class="form-group col-md-6 col-sm-6">
                    <label for="event-date">Ημερομηνία </label>
                    <input type="datetime-local" class="form-control input-sm" name="Date" id="event-date" <% if (event.startTime) { %> value="<%= new Date(event.startTime * 1000).toISOString().split(".")[0] %>" <% } %>  >
                </div>
                <div class="form-group col-md-6 col-sm-6">
                    <label for="AgeGroup">Ηλικιακή Ομάδα Παιδιών</label>
                    <select class="form-control col-sm-2" name="AgeGroup" id="AgeGroup" >
                                <option <% if (event.minAge === 3) { %> selected='selected' <% } %> value="3">3-5</option>
                                <option <% if (event.minAge === 6) { %> selected='selected' <% } %>   value="6">6-8</option>
                                <option <% if (event.minAge === 9) { %> selected='selected' <% } %> value="9">9-12</option>
                                <option <% if (event.minAge === 13) { %> selected='selected' <% } %> value="13">>12</option>
                            </select>
          
                </div>
                <div class="form-group ">
                    <label for="city">Ανέβασμα εικώνων </label>
                    <div id="files">
                      
                    </div>
                    <button style = "margin-top:5px;" class="btn btn-success add-new-image">Προσθήκη εικώνας</button>
                </div>
            </div>
            <div class="col-md-6 col-sm-12"  >

        <div class="form-group">
            <label for="latlng">Εισάγετε την τοποθεσία του Event(θα γίνει αναζήτηση στο χάρτη)</label>
            <input id="latlng" type="text" name = "location" class="form-control input-sm" value = "<%= event.geoAddress %>">
        </div>
        <div class="form-group">
            <button type="button" id = "submit" class="btn btn-default" >Αναζήτηση</button>
        </div>
        
        <div id="map" class="form-group " ></div>
    
    <script>
        var latlng;
      function initMap() {
        var uluru = {lat: 37.983810 , lng: 23.727539}
        var map = new google.maps.Map(document.getElementById('map'), {
          center: uluru,
          zoom: 10
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });

        var geocoder = new google.maps.Geocoder;
        var infowindow = new google.maps.InfoWindow;

        document.getElementById('latlng').addEventListener('keypress', function() {
          geocodeAddress(geocoder, map, infowindow,marker);
        });
      }

      function geocodeAddress(geocoder, resultsMap, infowindow,marker) {
        var input = document.getElementById('latlng').value;
        //var latlngStr = input.split(',', 2);
        //var latlng = {lat: parseFloat(latlngStr[0]), lng: parseFloat(latlngStr[1])};
        geocoder.geocode({'address': input}, function(results, status) {
          if (status === 'OK') {
            latlng = results[0].geometry.location;
            resultsMap.setCenter(results[0].geometry.location);
            marker.setOptions({
              map: resultsMap,
              position: results[0].geometry.location
            });
          } else {
            
          }
        });

        };
      
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBC7V-i6x2AWc0nSbMo51tkcnfiteuKuo&callback=initMap">
    </script>
    
    
        <div class="form-group ">
            <label for="event-date">Αριθμός Εισιτηρίων </label>
            <input type="number" name="TicketNum" class="form-control input-sm" id="TicketNum" value="<%= event.ticketCount %>">
    </div>

        <div class="form-group ">
            <label for="mobile">Προσθήκη υδατογραφήματος στη φωτογραφία</label>
            <input id="Watermark" name="watermark" type="checkbox" checked>
        </div>

        
    
        <div class="form-group col-md-6 col-sm-6">
            <label for="Price">Τελική τιμή ανά Εισιτήριο (&euro;) </label>
            <input type="number" step="0.1" class="form-control input-sm" name = "Price" id="Price" placeholder="" value="<%= event.ticketPrice %>">
        </div>

        <div class="form-group col-md-6 col-sm-6">
            <label for="discount">Έκπτωση (%)</label>
            <input type="number" step="0.1" class="form-control input-sm" name = "Discount" id="Discount" placeholder="" value="<%= event.discount %>">
        </div>
        
        <input type="number" style="display:none;" name="pictures" id = "pictures" value = "0" />
        
    </div>
    </div>
    <div class = "row">
        <div class="col-md-12 col-sm-12">
            <button id="Creation"  class="btn btn-primary" style="float: right;" >Δημιουργία</button>
            <button id="Cancel" type="button" class="btn btn-primary cancel-btn" style="float: left;">Ακύρωση</button>
        </div>
    </div>
    
    
</div>
</form>
</div>
                        
</div>
                
 


            

</body>

<script type="text/javascript">
    $(".cancel-btn").click(function (event) {
        history.back();
    });
    $('.add-new-image').click(function (event) {
      event.preventDefault();
      var count= 0;
      var newfield = "<input type=\"file\" class=\"form-control\" name=\"file" + count.toString() + "\" id=\"file" + count.toString() + "\">"
      count++;
      $("#files").html($("#files").html() + newfield);
      $("#pictures").val(count);
    });
</script>


</html>
